@font-face {
    font-family: 'pretendardExtraBold';
    src: url('../font/Pretendard-1.2.1/web/static/woff2/Pretendard-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: 'pretendardBold';
    src: url('../font/Pretendard-1.2.1/web/static/woff2/Pretendard-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'pretendardMedium';
    src: url('../font/Pretendard-1.2.1/web/static/woff2/Pretendard-Medium.woff2') format('woff2');
}

body {
    overflow-x: hidden;
    font-family: 'pretendardMedium';
}

.backGround {z-index: 3; backdrop-filter: blur(25px); width: 100%; height: 100vh; position: fixed; display: none;}
.contentsArea {width: 1296px; margin: 0 auto; position: relative;}

.aniBefore {position: relative; opacity: 0; top: calc(100vw * 40 / 1920);}
.pngAniBefore {position: relative; opacity: 0;}

.header { position: fixed; top: 0; width: 100vw; height: calc(100vw * 110 / 1920); z-index: 1; background-color: white; z-index: 4; text-align: center; overflow: hidden;}
.header .webName {position: absolute; top: calc(100vw * 29 / 1920); left: 50%; font-size: calc(100vw * 40 / 1920); transform: translateX(-50%);  font-family: 'pretendardExtraBold';}
.header .headerHome {position: absolute; top: calc(100vw * 45 / 1920); left: calc(100vw * 54 / 1920); font-size: calc(100vw * 14 / 1920); color: #666666;}
.header .headerHome li {display: inline-block; margin-right: calc(100vw * 47 / 1920);}
.header .headerSign {position: absolute; top: calc(100vw * 45 / 1920); right: calc(100vw * 55 / 1920); font-size: calc(100vw * 14 / 1920); color: #666666;}
.header .headerSign li {display: inline-block; margin-left: calc(100vw * 27 / 1920);}
.header nav {position: absolute; top: calc(100vw * 48 / 1920); left: 50%; transform: translateX(-50%); width: 100%; font-size: calc(100vw * 20 / 1920);}
.header nav>ul>li{display: inline-block;}
.header nav>ul>li:nth-child(1){margin-right: calc(100vw * 102 / 1920);}
.header nav>ul>li:nth-child(2){margin-right: calc(100vw * 404 / 1920);}
.header nav>ul>li:nth-child(3){margin-right: calc(100vw * 98 / 1920);}
.header nav>ul>li>ul{margin-top: calc(100vw * 70 / 1920); text-align: left; font-size: calc(100vw * 15 / 1920);}
.header nav>ul>li>ul>li{margin-bottom: calc(100vw * 15 / 1920);}
.header nav>ul>li>ul>li a{display: inline-block;}
.header nav>ul>li>ul>li a:hover{color: #ED1B94; font-family: 'pretendardBold';}
.header nav>ul>li>ul>li a::after{content: ''; display: block; left: 0; bottom: 0; width: 0; height: 2px; background-color: #ED1B94; }
.header nav>ul>li>ul>li a:hover::after{width: 100%;}

header .right ul li a {color: var(--White); display: inline-block;}
header .right ul li a::after {content: ''; display: block; left: 0; bottom: 0; width: 0; height: 2px; background: var(--White); margin-top: 10px; transition: all ease-in-out 0.3s;}
header .right ul li a:hover:after {width: 100%;}

.header .headerBorder{margin-top: calc(100vw * 108 / 1920); width: 100vw; border-top: 1px solid #DDDDDD; z-index: 4;}

/* sections */
.section1 { position: relative; width: 100vw; margin-top: calc(100vw * 110 / 1920); padding: calc(100vw * 48 / 1920) calc(100vw * 60 / 1920) calc(100vw * 99 / 1920);}

/* section2 */
.section2 { position: relative; width: 100vw; height: 1686px; background-color: #FFDA27; text-align: center; padding-top: 143px;}
.section2>img {position: absolute;}
.section2>img:nth-child(1) {width: calc(100vw * 452 / 1920); margin-top: calc(100vw * 120 / 1920); right: calc(100vw * -150 / 1920);}
.section2>img:nth-child(2) {width: calc(100vw * 312 / 1920); margin-top: calc(100vw * 800 / 1920); left: calc(100vw * -50 / 1920);}
.pngAni1 {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
  }
  
  @keyframes pngAni1 {
    to {
        margin-top: calc(100vw * 20 / 1920);
    }
  }
  .pngAni2 {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* position: absolute; */
  }
  
  @keyframes pngAni2 {
    to {
        margin-top: calc(100vw * 700 / 1920);
    }
  }
.section2 .section2Text p:nth-child(1) {margin-bottom: 22px; font-size: 20px;font-family: 'pretendardBold';}
.section2 .section2Text p:nth-child(2) {font-size: 40px; line-height: 53px; margin-bottom: 70px;font-family: 'pretendardBold';}
.section2 .videoArea {display: flex; justify-content: space-between; margin-bottom: 80px;}
.section2 .videoArea .videoThumb {position: relative;}
.section2 .videoArea .videoThumb .videoBtn {cursor: pointer;}
.section2 .videoArea .videoThumb .videoBtn img:nth-child(1) {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100px;}
.section2 .videoArea .videoThumb .videoBtn img:nth-child(2) {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100px; display: none;}
.section2 .gifArea {position: relative;}
.section2 .gifArea .gifThumb.gif1 {background-image: url(../img/gif1.png); width: 379px; height: 379px; position: absolute; top: 265px; z-index: 2;}
.section2 .gifArea .gifThumb.gif2 {background-image: url(../img/gif2.png); width: 621px; height: 490px; position: absolute; left:155px; top: 0;}
.section2 .gifArea .gifThumb.gif3 {background-image: url(../img/gif3.png); width: 379px; height: 379px; position: absolute; top: 314px; left: 566px; z-index: 2;}
.section2 .gifArea .gifThumb.gif4 {background-image: url(../img/gif4.png); width: 416px; height: 501px; position: absolute; top: 61px; right: 0;}
.section2 .gifArea .gifThumb img {width: 60px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.modal { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 6; width: 1200px;}
.grayBack { width: 100%; height: 100%; background-color: black; position: fixed; top: 0; bottom: 0; opacity: 70%; z-index: 5; display: none;}
.deleteBtn {width: 34px; height: 34px; cursor: pointer; position: fixed; top: 40px; right: 53px; z-index: 6; display: none; background-image: url(../img/deleteBtn.png);}

.section3 {position: relative;width: 100vw;height: 816px;background-color: white;}
.section3 .section3Text{margin-top: 143px; margin-bottom: 43px;}
.section3 .section3Text p:nth-child(1){font-size: 20px; margin-bottom: 27px; color: #EC088B}
.section3 .section3Text p:nth-child(2){font-size: 40px; font-family: 'pretendardBold';}
.section3 .applyBtn{background-image: url(../img/applyBtn.png); width: 240px; height: 72px; position: absolute; margin-top: 29px; right: 0;}
.section3 .applyBtn p{color: white; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block; font-size: 24px;}
.section3 .blockArea{display: flex; justify-content: space-between;}
.section3 .blockArea .block{width: 394px; height: 394px;}
.section3 .blockArea .block.block1{background-image: url(../img/block1.png);}
.section3 .blockArea .block.block2{background-image: url(../img/block2.png);}
.section3 .blockArea .block.block3{background-image: url(../img/block3.png);}

.section4 {position: relative; width: 100vw; height: 900px; background-color: #212121; overflow: hidden;}
.section4 .section4Text{color: white;}
.section4 .section4Text>p:nth-child(1) {font-size: 20px; margin-bottom: 68px; font-family: 'pretendardExtraBold';margin-top: 230px;}
.section4 .section4Text .interviewList {display: flex;flex-direction: column; width: fit-content;}
.section4 .section4Text .interviewList .interviewLi {font-size: 40px; font-family: 'pretendardBold'; position: relative; cursor: pointer; color: #646464;}
.section4 .section4Text .interviewList .interviewLi p {z-index: 3; position: relative;}
.section4 .section4Text .interviewList .interviewLi .interviewBorder{width: 155px; position: absolute; top: 70%; left: 50%; transform: translateX(-50%); z-index: 1; display: none;}
.section4 .section4Text .interviewList .interviewLi .interviewBorder.active{display: block;}
.section4 .section4Text .interviewList .interviewLi.active{color: white;}
.section4 .section4Text .interviewList .interviewLi:nth-child(1){margin-bottom: 31px;}
.section4 .interviewPeople {position: absolute; margin-top: 0; left: 0; width: 100%; height: 100%;}
.section4 .interviewPeople .people {position: relative;}
.section4 .interviewPeople .people2 {display: none;}
.section4 .interviewPeople .people div .bigPeople1 {position: absolute;  left: 50%; transform: translateX(-50%); width: 983.12px; height: 798.08px;}
.section4 .interviewPeople .people div .bigPeople2 {position: absolute;  left: 50%; transform: translateX(-50%); width: 983.12px; height: 860px; top: -63px;}
.section4 .interviewPeople .people div .textBox {position: absolute;  top:154px; left: 562px; width: 239px;}
.section4 .interviewPeople .people div .peopleBigBox {position: absolute;  top:566px; left: 50%; width: 236px; transform: translateX(-50%);}
.section4 .interviewPeople .people div .peopleBigName {position: absolute;  top:638px; left: 50%; transform: translateX(-50%); color: white; font-size: 40px; font-family: 'pretendardBold';}
.section4 .interviewPeople .people div .peopleMiddle {position: absolute; width: 354px; top:243px; left: 1274px;}
.section4 .interviewPeople .people div .peopleSmall {position: absolute; width: 178px; top:507px; left: 1641px;}


.section5 {position: relative; width: 100vw; height: 1383.5px;}
.section5 img{position: absolute;}
.section5 .section5Text{position: absolute; margin-top: 135px; left: 872px; margin-bottom: 223px;}
.section5 .section5Text p:nth-child(1){font-size: 20px; margin-bottom: 44px; font-family: 'pretendardBold';}
.section5 .section5Text p:nth-child(2){font-size: 28px; margin-bottom: 13px; line-height: 37px;  font-family: 'pretendardBold';}
.section5 .section5Text p:nth-child(3){font-size: 24px; line-height: 32px; margin-bottom: 52px;}
.section5 .section5Text .csrBtn{position: relative; width: 240px; height: 72px; background-color: black; border-radius: 100px; color: white;font-family: 'pretendardBold';}
.section5 .section5Text .csrBtn p{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);font-size: 24px; width: 100%;text-align: center;}
.section5 .newsArea{display: flex; justify-content: space-between;}
.section5 .newsArea .news{position: relative; width: 400px; height: 458px; border-radius: 30px; overflow: hidden; margin-top: 832px; box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.16);}
.section5 .newsArea .news img:nth-child(1){position: absolute; width: 72px; z-index: 1; top: 200px; left: 50%; transform: translateX(-50%);}
.section5 .newsArea .news img:nth-child(2){width: 400px;}
.section5 .newsArea .news .newsText{margin-top: 287px; text-align: center; padding: 0 30px;}
.section5 .newsArea .news .newsText {line-height: 24px;}
.section5 .newsArea .news .newsText p:nth-child(1){font-size: 18px; font-family: 'pretendardBold'; line-height: 21px; margin-bottom: 12px;}
.section5 .newsArea .news .newsText p:nth-child(2){font-size: 15px; color:#666666; line-height: 24px;word-break:keep-all;}

.footer { position: relative; width: 100vw; height: 167.5px; background-color: white; z-index: 1; border-top: #C4C4C4 1px solid; padding-left: 196px; padding-top: 65.5px; display: flex;}
.footer .footerLogo{background-image: url(../img/footerLogo.png); width: 80px; height: 36px; margin-right: 59px;}
.footer .footerUl{display: flex;font-size: 16px; margin-bottom: 8px;}
.footer .footerUl li{margin-right: 18px;}